<audio #audioPlayer [src]="'assets/audio/'+currentAudio"></audio>

<div class="{{verificationClass}} verification content">
  <h1>Question {{num}} / {{nbQuestTot}}</h1>

  <div class="row">
    <div class="col">
      <span>Écoutez cet enregistrement :</span>
      <button mat-fab class="record-button mat-elevation-z4" (click)="play('demo')">
        <mat-icon class="volume_up">volume_up</mat-icon>
        <mat-icon class="play_arrow">play_arrow</mat-icon>
      </button>
    </div>

    <div class="col">
      <div class="choice">
        <span *ngIf="isCaracteristique">Écoutez cette caractéristique : {{question.carac1.caracName}}</span>
        <span *ngIf="!isCaracteristique">Écoutez ce locuteur :</span>
        <button mat-button class="mat-elevation-z6 img"
                [ngStyle]="speaker1Style"
                (click)="play('speaker1')"
                matTooltip="Pour écouter le son, cliquez sur le bouton en haut à droite"
                matTooltipPosition="right"
                matTooltipShowDelay="200">
          <img *ngIf="isCaracteristique" class="carac1" src="assets/img/icons/caracteristique1.png">
          <img *ngIf="isCaracteristique" class="carac2" src="assets/img/icons/caracteristique2.png">
          <img *ngIf="!isCaracteristique" src="assets/img/icons/locuteur.png">
        </button>
        <button mat-mini-fab class="play-sound mat-elevation-z0"(click)="play('speaker1')">
          <mat-icon>volume_up</mat-icon>
        </button>
        <div class="skip">
          <button mat-button (click)="previous('speaker1')">
            <mat-icon>skip_previous</mat-icon>
          </button>
          <button mat-button (click)="next('speaker1')">
            <mat-icon>skip_next</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>



 <div class="col">
   <span *ngIf="verificationClass!='verification-4' && !isCaracteristique">
     Ce locuteur correspond bien à l'enregistrement ?
   </span>
   <span *ngIf="verificationClass!='verification-4' && isCaracteristique">
     Cette caractéristique correspond bien à l'enregistrement ?
   </span>
   <span *ngIf="verificationClass=='verification-4'">L'enregistrement contient la caractéristique {{question.carac1.caracName}} ?</span>
   <div class="row return" *ngIf="verificationClass!='verification-1'">
     <button mat-fab class="clear" (click)="validate('non')">
       <mat-icon>clear</mat-icon>
     </button>
     <button mat-fab color="light" (click)="validate('pass')">
       Passer
     </button>
     <button mat-fab class="done" (click)="validate('oui')">
       <mat-icon>done</mat-icon>
     </button>
    </div>
   <div class="row return" *ngIf="verificationClass=='verification-1'">
     <button mat-raised-button (click)="validate('non')">
       Non
     </button>
     <button mat-raised-button (click)="validate('pass')">
       Passer
     </button>
     <button mat-raised-button (click)="validate('oui')">
       Oui
     </button>
   </div>

 </div>
</div>
