<app-toolbar></app-toolbar>

<div class="content">
  <div style="text-align:center;">
    <h1>
      Questionnaire
    </h1>
  </div>


  <p>
    Merci d'avoir pris le temps de répondre à ce questionnaire.
    <br>
    Merci également à Alice Grimault et Emilien Barbaroux pour avoir prêté leurs voix.
  </p>

  <p>
    Si vous avez des questions concernant le sondage, n’hésitez pas à nous écrire à l’adresse suivante : <a href="mailto:victor.morgant@gmail.com">victor.morgant@gmail.com</a>.
    <br>
    <br>
    N’hésitez pas à diffuser ce sondage autour de vous, plus nous aurons de réponses plus notre analyse sera pertinente.
  </p>
</div>
