<app-toolbar></app-toolbar>

<div class="content">
  <h1>
    Quelques questions pour démarrer...
  </h1>

  <span *ngIf="!incorrect">Toutes les questions sont obligatoires.</span>
  <span class="error" *ngIf="incorrect">Toutes les questions sont obligatoires.</span>

  <form>
    <mat-form-field>
      <input matInput type="number" placeholder="Que âge avez-vous ?"
             [(ngModel)]="age" name="age">
    </mat-form-field>
  </form>




  <label id="gender-radio-button">Vous êtes :</label>
  <mat-radio-group
    aria-labelledby="gender-radio-button"
    [(ngModel)]="gender">
    <mat-radio-button *ngFor="let g of genders" [value]="g">
      {{g}}
    </mat-radio-button>
  </mat-radio-group>




  <label id="work-radio-button">Votre secteur d'activité :</label>
  <mat-radio-group
      aria-labelledby="work-radio-button"
      [(ngModel)]="work">
    <mat-radio-button *ngFor="let w of works" [value]="w">
      {{w}}
    </mat-radio-button>
  </mat-radio-group>


  <span class="error" *ngIf="incorrect">Certaines réponses sont incomplètes.</span>

  <button mat-raised-button (click)="next()">
    Débuter le test
  </button>
</div>
