<app-toolbar></app-toolbar>


<app-comparison
  *ngIf="isComparison"
  [num]="id" [nbQuestTot]="nbQuestTot"
  [comparisonClass]="'comparison-'+nbTemplate"
  [question]="question"
  [isCaracteristique]="isCaracteristique"
  (validation)="next($event)"
></app-comparison>

<app-verification
  *ngIf="isVerification"
  [num]="id" [nbQuestTot]="nbQuestTot"
  [verificationClass]="'verification-'+nbTemplate"
  [question]="question"
  [isCaracteristique]="isCaracteristique"
  (validation)="next($event)"
></app-verification>

<app-identification
  *ngIf="isIdentification"
  [num]="id" [nbQuestTot]="nbQuestTot"
  [identificationClass]="'identification-'+nbTemplate"
  [question]="question"
  [isCaracteristique]="isCaracteristique"
  (validation)="next($event)"
></app-identification>
