<div class="compar2 content">
  <h1>Question {{num}} / {{nbQuestTot}}</h1>

  <span *ngIf="isCaracteristique">Quel design trouvez-vous le plus intuitif pour la caractéristique ?</span>
  <div class="row" *ngIf="isCaracteristique">
    <button mat-button class="mat-elevation-z6 img"
            (click)="select(0)"
            [ngStyle]="getStyle(0)">
      <img src="assets/img/icons/caracteristique1.png">
    </button>
    <button mat-button class="mat-elevation-z6 img"
            (click)="select(1)"
            [ngStyle]="getStyle(1)">
      <img src="assets/img/icons/caracteristique2.png">
    </button>
  </div>

  <span *ngIf="!isCaracteristique">Quel design trouvez-vous le plus intuitif pour l'enregistrement</span>
  <div *ngIf="!isCaracteristique" class="row">
    <button mat-fab class="record-button play_arrow mat-elevation-z4"
            (click)="select(0)"
            [ngStyle]="getStyle(0)"
            [disabled]="selected!=undefined && selected!=0">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-fab class="record-button volume_up mat-elevation-z4"
            (click)="select(1)"
            [ngStyle]="getStyle(1)"
            [disabled]="selected!=undefined && selected!=1">
      <mat-icon>volume_up</mat-icon>
    </button>
  </div>

  <button mat-raised-button class="validate" (click)="validate()">
    Valider
  </button>
</div>
