<div class="utility content">
  <h1>Question {{num}} / {{nbQuestTot}}</h1>

  <span>Vous êtes-vous senti à l'aise pour répondre à cette question ?</span>
  <mat-radio-group
    aria-labelledby="work-radio-button"
    [(ngModel)]="utility">
    <mat-radio-button *ngFor="let u of utilities" [value]="u">
      {{u}}
    </mat-radio-button>
  </mat-radio-group>

  <span>Expliquez pourquoi :</span>
  <form>
    <mat-form-field class="example-full-width">
      <textarea matInput [formControl]="explanation"></textarea>
    </mat-form-field>
  </form>

  <button mat-raised-button class="validate" (click)="validate()">
    Valider
  </button>
</div>
