<app-toolbar></app-toolbar>

<div class="content">
  <div style="text-align:center">
    <h1>
      Bienvenue sur notre test utilisateur
    </h1>
  </div>


  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar eu lacus sed faucibus. Nulla turpis leo, aliquam sit amet ultricies at, bibendum vitae nunc. Nam sem ipsum, vestibulum vitae purus at, venenatis sollicitudin urna. Vivamus fringilla porttitor ipsum, ac pharetra arcu hendrerit eu. Cras vel orci dictum, scelerisque odio nec, tincidunt libero. Nam hendrerit sapien erat, fermentum mattis ante consectetur id. Aenean in mattis dolor. Etiam mollis elit posuere, blandit urna non, tristique neque. Sed tempus nunc non placerat fringilla.
    <br>
    <br>
    Aliquam sit amet ante nulla. Morbi maximus tortor libero, eu feugiat neque aliquam non. Maecenas tincidunt efficitur odio sed ultricies. Vivamus ac accumsan erat. Ut auctor justo et cursus sodales. Ut iaculis consectetur neque, vitae euismod ante dapibus ac. Nullam laoreet leo eu leo pellentesque, non pretium dui ornare. Sed rhoncus dignissim mauris non laoreet. Quisque tempor, lorem vel suscipit interdum, eros erat elementum metus, a varius dui lectus a est. Vivamus maximus ultricies blandit. Fusce ut nunc eu nunc faucibus tincidunt ut sit amet justo. Donec vestibulum condimentum vulputate. Integer facilisis porttitor dui vel auctor.
  </p>

  <button mat-raised-button routerLink="person">
    Commencer
  </button>
</div>
