<app-toolbar></app-toolbar>

<div class="content">
  <div style="text-align:center;">
    <h1>
      Questionnaire
    </h1>
  </div>


  <span><b>Pourquoi avons-nous besoin de vous :</b></span>
  <p>
    Dans le cadre de notre projet de 4ème année d’école d’ingénieur nous devons concevoir un système permettant de reconnaitre une personne d’après sa voix. En cas de doute du système un opérateur devra être capable d’aider le système à vérifier l’identité de la personne. Pour cela nous devons connaitre la capacité d’un humain à comparer deux voix et à identifier les caractéristiques d’une voix. Lors de ce sondage vous entendrez différents enregistrements et vous devrez soit reconnaitre une personne soit identifier une caractéristique.
    <br>
    <br>
    Le sondage ne devrait prendre que quelques minutes et vos réponses resteront totalement anonymes.
  </p>

  <button mat-raised-button routerLink="person">
    Commencer
  </button>

  <p>
    Si vous avez des questions concernant le sondage, n’hésitez pas à nous écrire à l’adresse suivante : <a href="mailto:victor.morgant@gmail.com">victor.morgant@gmail.com</a>.
    <br>
    <br>
    N’hésitez pas à diffuser ce sondage, nous comptons sur vous, assurez-vous également d’avoir le son activé.
  </p>

  <div class="logos">
    <img src="assets/img/home/ENSIM.png">
    <img src="assets/img/home/LIUM.png">
  </div>
</div>
