/* Comparison 1 */
.comparison {
  width: 60%;
}
@media(max-width: 650px) {
  .comparison {
    width: 100%;
  }
}
.comparison-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comparison-1 span {
  width: 100%;
}
.comparison-1 .choice-group {
  padding: 25px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.comparison-1 .choice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 176px;
}
.comparison-1 .choice img {
  width: 128px;
  height: 128px;
}
.comparison-1 .choice button.img {
  background-color: #607d8b;
  margin-top: 10px;
  padding: 0;
  border-radius: 100px;
}
.comparison-1 .choice img.carac2 {
  display: none;
}
.comparison-1 button.play-sound {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
}
.comparison-1 button.play-sound, .comparison-1 button.record-button {
  border: none;
}
.comparison-1 button.play-sound:hover {
  background-color: #eee;
  transition: 250ms;
}
.comparison-1 button.record-button {
  background-color: #f5f5f5;
  margin-top: 1em;
  margin-bottom: 5em;
  width: 80px;
  height: 80px;
  position: relative;
}
.comparison-1 button.record-button mat-icon {
  display: none;
}
.comparison-1 button.record-button mat-icon.volume_up {
  font-size: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
}
.comparison-1 .skip {
  padding-top: 5px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.comparison-1 .skip button {
  width: 25%;
  padding: 0;
}
.comparison-1 button.green-bg-loc {
  background-color: greenyellow !important;
}
.comparison-1 .validate-button {
  margin: 25px 0;
  background-color: #80cbc4;
}


/* Comparison 2 */
.comparison-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comparison-2 span {
  width: 100%;
}
.comparison-2 .choice-group {
  padding: 25px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.comparison-2 .choice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 176px;
}
.comparison-2 .choice img {
  width: 128px;
  height: 128px;
}
.comparison-2 .choice img.carac1 {
  display: none;
}
.comparison-2 .choice button.img {
  background-color: #626262;
  margin-top: 10px;
  padding: 0;
  border-radius: 100px;
}
.comparison-2 button.play-sound {
  position: absolute;
  top: 10px;
  right: 0;
  background: none;
}
.comparison-2 button.play-sound, .comparison-2 button.record-button {
  border: none;
}
.comparison-2 button.play-sound:hover {
  background-color: #eee;
  transition: 250ms;
}
.comparison-2 button.record-button {
  background-color: #121212;
  margin-top: 1em;
  margin-bottom: 5em;
  width: 80px;
  height: 80px;
  position: relative;
}
.comparison-2 button.record-button mat-icon {
  display: none;
}
.comparison-2 button.record-button mat-icon.play_arrow {
  font-size: 64px;
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  color: #f5f5f5;
}
.comparison-2 .skip {
  display: none;
}
.comparison-2 button.green-bg-loc {
  background-color: greenyellow !important;
}
.comparison-2 .validate-button {
  margin: 25px 0;
  background-color: #80cbc4;
}

/* Comparison 3 */
.comparison-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comparison-3 span {
  width: 100%;
}
.comparison-3 .choice-group {
  padding: 25px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.comparison-3 .choice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 176px;
}
.comparison-3 .choice img {
  width: 128px;
  height: 128px;
}
.comparison-3 .choice button.img {
  background-color: #607d8b;
  margin-top: 10px;
  padding: 0;
  border-radius: 100px;
}
.comparison-3 .choice img.carac2 {
  display: none;
}
.comparison-3 button.play-sound {
  position: absolute;
  top: 10px;
  right: 0;
  background: none;
}
.comparison-3 button.play-sound, .comparison-3 button.record-button {
  border: none;
}
.comparison-3 button.play-sound:hover {
  background-color: #eee;
  transition: 250ms;
}
.comparison-3 button.record-button {
  background-color: #f5f5f5;
  margin-top: 1em;
  margin-bottom: 5em;
  width: 80px;
  height: 80px;
  position: relative;
}
.comparison-3 button.record-button mat-icon {
  display: none;
}
.comparison-3 button.record-button mat-icon.volume_up {
  font-size: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
}
.comparison-3 .skip {
  padding-top: 5px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.comparison-3 .skip button {
  width: 25%;
  padding: 0;
}
.comparison-3 button.green-bg-loc {
  background-color: greenyellow !important;
}
.comparison-3 .validate-button {
  margin: 25px 0;
  background-color: #80cbc4;
}
.comparison-1 .mat-fab.validate-button,
.comparison-2 .mat-fab.validate-button {
  display: none;
}
.comparison-3 .mat-raised-button.validate-button {
  display: none;
}
